<header>
    <div class="header-left">
    </div>
    <h1>FIT2095 Package Delivery Management App</h1>
    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/add-driver">Create Driver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/list-drivers">List Drivers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/update-driver">Update Driver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/delete-driver">Delete Driver</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/add-package">Create Package</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/list-packages">List Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/update-package">Update Package</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/delete-package">Delete Package</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="33934479/HongSze/statistics">Statistics</a>
            </li>
        </ul>
    </nav>
</header>