<div class="container mt-5">
    <div class="card">
      <div class="card-header"><strong>Update Package</strong></div>
      <div class="card-body">
        <form (ngSubmit)="onUpdatePackage()">
          <div class="form-group">
            <label for="packageId">Package ID:</label>
            <select class="form-control" id="packageId" [(ngModel)]="packageId" name="packageId" required>
              <option *ngFor="let package of packages" [value]="package._id">{{ package._id }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="packageDestination">New Destination:</label>
            <input type="text" class="form-control" id="packageDestination" [(ngModel)]="package.package_destination" name="packageDestination" required>
          </div>
          <button type="submit" class="btn btn-primary">Update Package</button>
        </form>
      </div>
    </div>
  </div>